<main>
  <div class="content">
    <h1>Some Documentation</h1>
    <section id="introduction">
      <h2>Introduction</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rutrum facilisis tellus. Proin lobortis
        lectus sed
        auctor luctus. Duis tristique nisl eu euismod tincidunt. Orci varius natoque penatibus et magnis dis parturient
        montes,
        nascetur ridiculus mus. Praesent lobortis id erat vitae dignissim. Fusce porta sem at luctus euismod. Suspendisse in
        felis non est molestie tristique. Phasellus eget lacus semper, vestibulum quam in, rhoncus massa. Sed nec eleifend
        massa, vitae facilisis orci. Aliquam erat volutpat. Aenean quam ante, placerat quis auctor a, euismod vel massa.</p>
    </section>
    
    <section id="article">
      <h2>Articles</h2>
      <p>Etiam ex nibh, pretium fringilla elit et, volutpat pharetra mauris. Nunc euismod dignissim efficitur. Praesent
        vestibulum viverra magna et ornare. Etiam eget orci libero. Maecenas rhoncus neque a odio malesuada porta.
        Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean commodo, ante vel feugiat
        mollis, lacus nunc egestas risus, at pellentesque metus massa elementum augue. Duis in consectetur arcu. Suspendisse
        tellus nunc, varius sed ullamcorper nec, eleifend nec dui. Pellentesque habitant morbi tristique senectus et netus
        et
        malesuada fames ac turpis egestas. Praesent fermentum, augue nec dapibus ullamcorper, velit eros ullamcorper nunc,
        eu
        maximus magna mi faucibus nibh. Cras ultrices magna ac mauris semper dignissim. Interdum et malesuada fames ac ante
        ipsum primis in faucibus. Mauris posuere augue quis mauris luctus, ut placerat nisl blandit. Cras vehicula augue non
        massa ullamcorper, non posuere tortor pulvinar.</p>
    </section>
    
    <section id="authentication">
      <h2>Authentication</h2>
      <p>Proin fringilla gravida ipsum at sollicitudin. Donec interdum mattis dapibus. Sed ac mi vehicula, ornare tortor
        sed,
        tempor erat. Donec ullamcorper fringilla leo, ullamcorper ultrices purus maximus sed. Vestibulum ornare risus vel ex
        aliquet interdum. Suspendisse potenti. Etiam vestibulum fermentum ultrices. Nam convallis porta diam, et
        sollicitudin
        nulla gravida in. Quisque scelerisque lobortis nulla, vehicula mattis erat. Praesent volutpat tellus ut enim varius
        efficitur. Nam vulputate ut sem quis facilisis. Aliquam non quam in libero consectetur accumsan. Vestibulum at quam
        eget
        ante molestie posuere ut quis nisl. Aenean dictum, ex in sodales commodo, orci quam dignissim tellus, nec fringilla
        nulla arcu non metus.</p>
    </section>
    
    <section id="user">
      <h2>User Management</h2>
      <p>Ut quis viverra mi. Nam lacus leo, vehicula vestibulum risus eleifend, suscipit commodo odio. Pellentesque lorem
        ligula,
        cursus quis semper vel, rutrum non ex. Aliquam varius pellentesque erat. Donec mollis justo quis orci euismod
        pellentesque. Vivamus semper odio ut risus dictum suscipit. Sed congue, nisi ut fermentum gravida, urna metus
        scelerisque lorem, et tincidunt ex metus sed augue. Vestibulum ut bibendum arcu. Nam consectetur, sem at facilisis
        pharetra, ex orci egestas lacus, eu malesuada tortor nisi vel felis.</p>
    </section>
    
    <section id="security">
      <h2>Managing Security</h2>
      <p>Ut nibh sapien, blandit et congue sit amet, consectetur quis nisl. Duis lectus ex, ornare a tellus at, sagittis
        gravida
        orci. Pellentesque finibus et risus sed vestibulum. Nam nibh felis, tempus ac urna et, molestie molestie nibh. Nulla
        laoreet ligula elit, eget interdum quam tristique quis. Nulla et lobortis nibh. Mauris in iaculis mauris. Nullam
        metus
        felis, aliquet a velit sed, porta dignissim ex. Sed velit nisl, bibendum vel maximus vel, congue sit amet ante.
        Integer
        mollis ornare ligula, quis condimentum ante fringilla non. Praesent at odio magna. Donec ex leo, elementum nec
        laoreet
        vel, vestibulum ac ex. Integer pulvinar velit at mauris ultrices ultrices. In hac habitasse platea dictumst. Sed
        nibh
        massa, egestas sollicitudin porttitor vitae, molestie in nibh. Phasellus ultricies posuere cursus.</p>
    </section>
    
    <section id="advanced">
      <h2>Advanced Stuff</h2>
      <p>Nullam purus ex, malesuada ut tempus vel, accumsan vitae dui. Mauris est dolor, convallis ut nisl eget, tincidunt
        aliquam felis. In malesuada tortor sit amet dui suscipit, eget pulvinar ipsum ullamcorper. Curabitur a imperdiet mi.
        Fusce dictum, libero at malesuada feugiat, augue orci fringilla orci, nec pharetra ex dui ut dui. Phasellus vitae
        felis
        tortor. Phasellus vehicula, justo viverra euismod finibus, odio risus maximus purus, a bibendum libero ipsum non
        lorem.
        Aenean ut scelerisque mauris, ac imperdiet dolor. Aliquam consectetur elit quis accumsan varius.</p>
    </section>
    
    <section id="link">
      <h2>Linking to external sources</h2>
      <p>Donec est magna, finibus non hendrerit at, venenatis dignissim lectus. Pellentesque gravida lacinia mauris nec
        mollis.
        Nam tincidunt a augue et tincidunt. Maecenas mauris orci, varius et egestas vitae, mattis quis sem. Vivamus quis
        gravida
        dui, laoreet euismod diam. Aenean pretium nisi nec nisl molestie tincidunt. Phasellus semper faucibus rhoncus. Morbi
        vel
        lacus in nisl ullamcorper luctus vitae non sapien. Proin eu quam at odio hendrerit faucibus in in nulla. Sed
        molestie
        nisl risus, quis tristique nisl aliquam ut. Nunc sit amet vehicula diam, vel tempor elit. Morbi odio tellus,
        interdum
        vel nisi et, dapibus fringilla lectus. Nunc fermentum nulla non risus vestibulum pretium. Praesent sed ipsum dui.
        Integer sagittis ornare purus, non placerat dui volutpat quis. Curabitur facilisis nulla diam, a pharetra diam
        ultrices
        eget.</p>
    </section>
    
    <section id="recommendations">
      <h2>Add Recommendations</h2>
      <p>Fusce sed sapien convallis, mattis orci quis, luctus magna. Ut blandit ante at lectus vulputate, ac ornare nulla
        suscipit. Aliquam id dignissim nisl. In nec erat eget ipsum scelerisque ultricies a et velit. Maecenas eget ultrices
        ligula, in placerat neque. Cras egestas arcu sed enim gravida, sit amet posuere eros elementum. Pellentesque
        habitant
        morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae ultrices felis, at vestibulum
        nisi. Sed non molestie felis. Praesent porttitor pellentesque erat at mollis. Duis erat ligula, condimentum eu
        semper
        nec, pellentesque et mi.</p>
    </section>
    
    <section id="collaboration">
      <h2>Set up Collaboration</h2>
      <p>Aenean in fermentum nulla. Nulla et magna libero. Cras consequat fringilla diam, vitae elementum nulla semper vel.
        Proin
        dictum suscipit semper. Duis id gravida diam, a efficitur est. Proin convallis aliquam felis lobortis finibus. Proin
        ac
        eros porta, tincidunt nunc ut, pellentesque arcu. Praesent sit amet ornare neque. Cras lectus neque, scelerisque eu
        pulvinar at, mattis sollicitudin felis. Fusce nisl justo, tincidunt eget ligula id, tincidunt commodo urna. Maecenas
        nec
        lobortis turpis. Cras blandit vel orci ut varius. Sed venenatis vestibulum orci, vitae malesuada turpis vestibulum
        non.</p>
    </section>
    
    <section id="next">
      <h2>What's next?</h2>
      <p>Morbi viverra libero augue, ut commodo enim ultrices at. Proin lobortis feugiat semper. Maecenas eleifend ut ipsum
        vitae
        commodo. Duis tincidunt viverra justo in laoreet. Nam interdum nibh non augue tincidunt, a tristique felis gravida.
        Cras
        egestas scelerisque urna. Nam vulputate, sem at vulputate tempor, ante sapien varius risus, ac laoreet enim mi sit
        amet
        elit. Cras lobortis lorem eu tortor accumsan, a commodo lectus posuere. Nulla facilisi. Ut a libero quis leo
        vulputate
        malesuada.</p>
    </section>
  </div>
  <div class="section-nav">
    <ol>
      <li [class.active]="isActive('introduction')"><a href="#introduction">Introduction</a></li>
      <li [class.active]="isActive('article')"><a href="#article">Article</a></li>
      <li [class.active]="isActive('authentication')"><a href="#authentication">Authentication</a></li>
      <li [class.active]="isActive('user')"><a href="#user">User Management</a></li>
      <li [class.active]="isActive('security')"><a href="#security">Managing Security</a></li>
      <li [class.active]="isActive('advanced')"><a href="#advanced">Advanced Stuff</a></li>
      <li [class.active]="isActive('link')"><a href="#link">Link to external sources</a></li>
      <li [class.active]="isActive('recommendations')"><a href="#recommendations">Add Recommendations</a></li>
      <li [class.active]="isActive('collaboration')"><a href="#collaboration">Set up Collaboration</a></li>
      <li [class.active]="isActive('next')"><a href="#next">What's next?</a></li>
    </ol>
  </div>
</main>